<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CodeIgniter App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav distance">
<a class="btn btn-danger navbar-btn" href="/country">Countries</a>
<a class="btn btn-default navbar-btn" href="/country/add">Add Country</a>
<a class="btn btn-warning navbar-btn distance" href="/state">States</a>
<a class="btn btn-default navbar-btn" href="/state/add">Add State</a>
<a class="btn btn-primary navbar-btn distance" href="/city">Cities</a>
<a class="btn btn-default navbar-btn" href="/city/add">Add City</a>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="http://viralvadgama.com">Viral Vadgama</a></li>
      </ul>
</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>